@font-face {
  font-family: "icomoon";
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.woff') format('woff'),
  url('../fonts/icomoon.ttf') format('truetype'),
  url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: "MerriweatherItalic";
  src : url("../fonts/MerriweatherItalic/MerriweatherItalic.eot");
  src : url("../fonts/MerriweatherItalic/MerriweatherItalic.ttf");
  src : url("../fonts/MerriweatherItalic/MerriweatherItalic.woff");
}

@font-face {
  font-family: "MerriweatherLight";
  src : url("../fonts/MerriweatherLight/MerriweatherLight.eot");
  src : url("../fonts/MerriweatherLight/MerriweatherLight.ttf");
  src : url("../fonts/MerriweatherLight/MerriweatherLight.woff");
}

@font-face {
  font-family: "MerriweatherLightItalic";
  src : url("../fonts/MerriweatherLightItalic/MerriweatherLightItalic.eot");
  src : url("../fonts/MerriweatherLightItalic/MerriweatherLightItalic.ttf");
  src : url("../fonts/MerriweatherLightItalic/MerriweatherLightItalic.woff");
}

@font-face {
  font-family: "MerriweatherRegular";
  src : url("../fonts/MerriweatherRegular/MerriweatherRegular.eot");
  src : url("../fonts/MerriweatherRegular/MerriweatherRegular.ttf");
  src : url("../fonts/MerriweatherRegular/MerriweatherRegular.woff");
}