@import "vars";
@import "fonts";
@import "mixin";
@import "fancybox";
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Roboto:400,500&display=swap&subset=cyrillic');

@import "header";
@import "services";
@import "about";
@import "consultation";



* {
  box-sizing: border-box;
}

body {
  font-size: $fsize;
  line-height: 20px;
  font-family: $ptserif;
  font-weight: 400;
  color: #5e5e5e;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

//.wrapper {
//  width: 1200px;  //85%
//  margin: 0 auto;
//  padding: 0 20px;
//  //margin: 0 7%;
//  position: relative;
//}


/////////////////// MODAL FANCYBOX  //////////////////////
.modal {
  display: none;
}

///////////////////////// HEADER - SLIDER  /////////////////////////////
.slider {
  background-image: url(../../src/img/slider-fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
}

.slider__inner {
  position: relative;
}

.slider__item-content {
  text-align: center;
  padding-top: 110px;
  max-width: 665px;
  margin: 0 auto;
}

.slider__title {
  text-transform: uppercase;
  color: #fff;
  line-height: 36px;
  font-size: 30px;
  letter-spacing: 0.5px;
  margin-bottom: 22px;
}

.slider__text {
  color: #d3d2d2;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 50px;
}

.default-button {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 30px 8px 24px;
  border: 1px solid $accent;
  border-right-width: 20px;
  position: relative;
  cursor: pointer;
  outline: none;

  &:after {
    content: "\f105";
    font-family: "icomoon";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
  }
}

.slick-btn {
  position: absolute;
  top: 70%;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  background: $accent;
  z-index: 3;
  cursor: pointer;
  outline: none;

  &.slick-disabled {
    background: transparent;
    cursor: default;
  }
}

.slick-prev {
  left: 0;

  &:before {
    content: '\f104';
    font-family: "icomoon";
    color: #fff;
  }
}

.slick-next {
  right: 0;

  &:before {
    content: '\f105';
    font-family: "icomoon";
    color: #fff;
  }
}  ///////////////////////// HEADER - SLIDER   END /////////////////////////////

@import "./media.scss";